#container {
    background: #373632;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  
  }
